#### Download the January and February 2023 "Yellow Taxi Trip Records" from NYC taxi dataset with wget

##### Q1. Read the data for January. How many columns are there?

In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the parquet data
jan_df = pd.read_parquet('data/yellow_tripdata_2023-01.parquet')
jan_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [3]:
# number of columns
len(jan_df.columns)

19

##### Q2. Now let's compute the duration variable. It should contain the duration of a ride in minutes. What's the standard deviation of the trips duration in January?

In [4]:
# summary of the data
jan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [5]:
# add the duration column to the dataset
jan_df['duration'] = jan_df['tpep_dropoff_datetime'] - jan_df['tpep_pickup_datetime']
jan_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0 days 00:08:26
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,0 days 00:06:19
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,0 days 00:12:45
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,0 days 00:09:37
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,0 days 00:10:50

In [6]:
# Timedelta datatype of the first row in duration column
td = jan_df['duration'].iloc[0]
td

Timedelta('0 days 00:08:26')

In [7]:
# convert duration-column first row  from Timedelta to minutes and seconds
td.total_seconds()/60

8.433333333333334

In [8]:
# apply the conversion above to the whole duration column
jan_df['duration'] = jan_df['duration'].apply(lambda td : td.total_seconds()/60)
jan_df['duration']

0           8.433333
1           6.316667
2          12.750000
3           9.616667
4          10.833333
             ...
3066761    13.983333
3066762    19.450000
3066763    24.516667
3066764    13.000000
3066765    14.400000
Name: duration, Length: 3066766, dtype: float64

In [9]:
# standard deviation of the duration column
np.std(jan_df['duration'])

42.5943442974141

##### Q3. Dropping outliers

##### Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

##### What fraction of the records left after you dropped the outliers

In [10]:
# remove outliers between 1 and 60
jan_df = jan_df[(jan_df['duration'] >= 1) & (jan_df['duration'] <= 60)]
jan_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [11]:
# fraction left after removing outliers excluding 1
((jan_df['duration'] > 1) & (jan_df['duration'] <= 60)).mean()

0.9999066188617272

In [12]:
# fraction left after removing outliers including 1
np.mean((jan_df['duration'] >= 1) & (jan_df['duration'] <= 60))

1.0

##### Q4. One-hot encoding
##### Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

##### Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
##### Fit a dictionary vectorizer
##### Get a feature matrix from it
##### What's the dimensionality of this matrix (number of columns)?

In [13]:
# select the pickup and dropoff locations IDs as categorical features
categorical = ['PULocationID', 'DOLocationID']
jan_df[categorical].head(), jan_df[categorical].dtypes, jan_df[categorical].isnull().sum()

(   PULocationID  DOLocationID
 0           161           141
 1            43           237
 2            48           238
 3           138             7
 4           107            79,
 PULocationID    int64
 DOLocationID    int64
 dtype: object,
 PULocationID    0
 DOLocationID    0
 dtype: int64)

In [14]:
# convert the categorical variables to strings
jan_df[categorical] = jan_df[categorical].astype('str')
jan_df[categorical].dtypes

PULocationID    object
DOLocationID    object
dtype: object

In [15]:
# use a dictionary vectorizer
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer()

In [16]:
# conversion of the features to dictionaries
train_dicts = jan_df[categorical].to_dict(orient='records')

In [17]:
# feature matrix
X_train = dv.fit_transform(train_dicts)
X_train

<3009173x515 sparse matrix of type '<class 'numpy.float64'>'
	with 6018346 stored elements in Compressed Sparse Row format>

In [18]:
# dimenionality of the matrix(number of columns)
X_train.ndim, X_train.shape

(2, (3009173, 515))

##### Q5. Training a model
##### Now let's use the feature matrix from the previous step to train a model.

##### Train a plain linear regression model with default parameters
##### Calculate the RMSE of the model on the training data
##### What's the RMSE on train?

In [19]:
# use a plain regression model
from sklearn.linear_model import LinearRegression
LR_model = LinearRegression()

In [20]:
# convert the duration column as y_train
y_train = jan_df['duration'].values
y_train

array([ 8.43333333,  6.31666667, 12.75      , ..., 24.51666667,
       13.        , 14.4       ])

In [21]:
# train the model
LR_model.fit(X_train,y_train)

LinearRegression()

In [22]:
# predict with X_train
y_pred = LR_model.predict(X_train)

In [23]:
# RMSE on training data
from sklearn.metrics import mean_squared_error
print('RMSE of the model on training data is', np.sqrt(mean_squared_error(y_train, y_pred)))

RMSE of the model on training data is 7.649262109734842

##### Q6. Evaluating the model
##### Now let's apply this model to the validation dataset (February 2023).

##### What's the RMSE on validation?

In [24]:
# function to read dataframe and select features. All that was done above

def read_dataframe(filename):
    
    df = pd.read_parquet(filename) 

    df['duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
    df['duration'] = df['duration'].apply(lambda td : td.total_seconds() / 60) 
    
    df = df[(df['duration'] >= 1) & (df['duration'] <= 60)]
    
    categorical = ['PULocationID', 'DOLocationID']

    df[categorical] = df[categorical].astype('str')

    return df

In [25]:
jan_df = read_dataframe('data/yellow_tripdata_2023-01.parquet')
feb_df = read_dataframe('data/yellow_tripdata_2023-02.parquet')

In [26]:
# previous codes above in one cell

categorical = ['PULocationID', 'DOLocationID']

dv = DictVectorizer()

train_dicts = jan_df[categorical].to_dict(orient='records')  
X_train = dv.fit_transform(train_dicts)    

val_dicts = feb_df[categorical].to_dict(orient='records') 
X_val = dv.transform(val_dicts)

In [27]:
y_val = feb_df['duration'].values

In [28]:
# Linear regression model to train, predict and evaluate
LR_model = LinearRegression()
LR_model.fit(X_train, y_train)

y_pred = LR_model.predict(X_val)    

print('RMSE of the model on training data is', np.sqrt(mean_squared_error(y_val, y_pred)))

RMSE of the model on training data is 7.8118141443234945